@import "tailwindcss";

:root{
  --text-color: #222222;
  --background-color: #ffffff;
  --primary-color: #8000a4;
  --secondary-color: #500059;
  --accent-2563eb: #0600c2;

}

html.dark{
  --text-color: #f1f5f9;
  --background-color: #0e172a;
  --primary-color: #00d6bd;
  --secondary-color: #f8fafc;
  --accent-color: #443dff;
}

@theme{
  --color-main-text: var(--text-color);
  --color-main-bg: var(--background-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 0.5s;
}

